<mat-sidenav-container class="nav-container" (backdropClick)="sidenav.close()">
  <mat-sidenav role="navigation" #sidenav (keydown.escape)="sidenav.close()" disableClose>
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="sidenav.close()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
      </a>
      <a mat-list-item routerLink="/miniatures" (click)="sidenav.close()">
        <mat-icon></mat-icon> <span class="nav-caption">Miniatures</span>
      </a>
      <a mat-list-item routerLink="/creators" (click)="sidenav.close()">
        <mat-icon></mat-icon> <span class="nav-caption">Creators</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="wrapper" fxLayout="column">
      <header class="container">
        <app-header (sidenavToggle)="sidenav.open()"></app-header>
      </header>
      <main id="content" class="container" fxFlex>
        <router-outlet></router-outlet>
      </main>
      <footer class="container" fxFlexOffset="auto">
        <app-footer></app-footer>
      </footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
